<!--
<div class="container" toolbars="">
	<div class="sidebar">
		<button ng-click="toggleToolbar()">TB</button>
		<button ng-click="toggleLoader()">FL</button>
		<button ng-click="showAbout()">?</button>
	</div>
	<div class="toolbar ng-hide" ng-show="tb.visible" stop-event="">
		<h2>Toolbar</h2><a href="#" class="close" ng-click="hideToolbar()"></a>
		<div>
			<label>Scale:  <span class="ng-binding">1</span><br>
				<input class="inputControls ng-pristine ng-untouched ng-valid" type="range" min="0.1" max="10" step="0.1" ng-model="data.scale" ng-change="scale()">
			</label>
		</div>
		<div>
			<label>Rotate X: <span class="ng-binding">0</span><br>
				<input class="inputControls ng-pristine ng-untouched ng-valid" type="range" min="0" max="359" step="1" ng-model="data.rotateX" ng-change="rotate('x')">
			</label>
		</div>
		<div>
			<label>Rotate Y: <span class="ng-binding">0</span><br>
				<input class="inputControls ng-pristine ng-untouched ng-valid" type="range" min="0" max="359" step="1" ng-model="data.rotateY" ng-change="rotate('y')">
			</label>
		</div>
		<div>
			<label>Rotate Z: <span class="ng-binding">0</span><br>
				<input class="inputControls ng-pristine ng-untouched ng-valid" type="range" min="0" max="359" step="1" ng-model="data.rotateZ" ng-change="rotate('z')">
			</label>
		</div>
		<div>
			<label>Translate X: <span class="ng-binding">0</span><br>
				<input class="inputControls ng-pristine ng-untouched ng-valid" type="range" min="-1000" max="1000" step="0.1" ng-model="data.positionX" ng-change="translate()">
			</label>
		</div>
		<div>
			<label>Translate Y: <span class="ng-binding">0</span><br>
				<input class="inputControls ng-pristine ng-untouched ng-valid" type="range" min="-1000" max="1000" step="0.1" ng-model="data.positionY" ng-change="translate()">
			</label>
		</div>
		<div>
			<label>Translate Z: <span class="ng-binding">0</span><br>
				<input class="inputControls ng-pristine ng-untouched ng-valid" type="range" min="-1000" max="1000" step="0.1" ng-model="data.positionZ" ng-change="translate()">
			</label>
		</div>
	</div>
</div>

<div class="container ng-hide" ng-show="tb.about" about=""><div id="about">
	<h2>About</h2>
	<div id="list">
		<p>JSON, glTF and OBJ file viewer.</p>
		<p>Created by Josh Staples (
			<a href="http://blog.tempt3d.com" target="_blank">blog</a> |
			<a href="https://github.com/cubicleDowns" target="_blank">Git</a> |
			<a href="https://www.linkedin.com/in/joshstaples" target="_blank">LinkedIn</a>
			) to demonstrate a couple of AngularJS/three.js patterns</p>
		<p>There are many ways to work with Angular.  That being said, I've kept this project
			intentionally simple for those of us who are still learning.</p>
		<p><b>First Approach</b>
		</p><ul>
		<li>Uses most common Angular coding patterns</li>
		<li>Minify with Grunt.  Use ng-annotate.</li>
		<li>Uses ['$scope', function($scope){...</li>
	</ul>
		<p></p>
		<p><b>Second Approach</b>
		</p><ul>
		<li>Uses prototypal pattern for, well, everything.</li>
		<li>Uses Angular services instead of factories.</li>
		<li>Uses closure compiler to link and compile code.</li>
	</ul>
		<p></p>
		<p><b>References:</b>
		</p><ul>
		<li><a href="https://angularjs.org/" target="_blank">Angular</a></li>
		<li><a href="http://threejs.org/" target="_blank">Three.js</a></li>
		<li><a href="http://gruntjs.com/" target="_blank">Grunt</a></li>
		<li><a href="http://hammerjs.github.io/" target="_blank">Hammer</a></li>
		<li><a href="https://developers.google.com/closure/compiler/" target="_blank">Closure Compiler</a></li>
	</ul>
		<p></p>
		<p><b>3D Models</b>
		</p><ul>
		<li><a href="https://3dwarehouse.sketchup.com/user.html?id=0122725873552223594220183" target="_blank">Female Model by Reallusion</a></li>
		<li><a href="https://3dwarehouse.sketchup.com/user.html?id=0122725873552223594220183" target="_blank">Male Model by Reallusion</a></li>
		<li><a href="#">COLLADA duck by Sony</a></li>
	</ul>
		<p></p>


	</div>
</div>
</div>
-->




<div id="container" class="container">
	<canvas id="viewer" select="" width="575" height="681" style="width: 575px; height: 681px; touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
</div>

<!--
<div class="container ng-hide" ng-show="tb.loader" file-loader="">
	<div id="file-loader" ng-controller="FileLoaderController" class="ng-scope">
		<div id="loader-buttons">
			<div class="load-button" ng-click="showTab('recent');">RECENT</div>
			<div class="load-button" ng-click="showTab('loadJS');">JSON</div>
			<div class="load-button" ng-click="showTab('loadOBJ');">OBJ/MTL</div>
			<div class="load-button" ng-click="showTab('loadGLTF');">glTF</div>
			<a href="#" class="close2" ng-click="hideLoader()"></a>
		</div>
		<div class="loader-options">
			<div id="recent" class="loader-options" ng-show="state.recent">
				<label>
					<a href="#" target="_blank">RECENTLY VIEWED FILES</a>
					<select id="history" size="7" ng-init="data.selectedModel = data.recent[0]" ng-model="data.selectedModel" ng-options="item.name group by item.type for item in data.recent" class="ng-pristine ng-untouched ng-valid"><option value="?" selected="selected" label=""></option><optgroup label="objmtl"><option value="0" label="Textured_Guy">Textured_Guy</option></optgroup></select><br><br>
				</label>
				<button ng-click="loadSelectedFile()">LOAD FILE</button>
				<button ng-click="clearRecent()">CLEAR</button>
			</div>
			<div id="obj-loader" class="loader-options ng-hide" ng-show="state.loadOBJ">
				<label>
					<a href="http://en.wikipedia.org/wiki/Wavefront_.obj_file" target="_blank">OBJ - MTL Loader</a>
					<input type="text" ng-model="data.obj" placeholder="obj file url" class="ng-pristine ng-untouched ng-valid">
					<input type="text" ng-model="data.mtl" placeholder="mtl file url" class="ng-pristine ng-untouched ng-valid">
					<input type="text" ng-model="data.name" placeholder="unique name" class="ng-pristine ng-untouched ng-valid">
					<button ng-click="loadOBJMTL()">Load OBJ/MTL</button>
					<button ng-click="loadOBJ()">LOAD OBJ</button>
					<button ng-click="loadSampleOBJ()">SAMPLE OBJ</button>
					<button ng-click="loadSampleOBJMTL()">SAMPLE OBJ-MTL</button>
				</label>
			</div>
			<div id="gltf-loader" class="loader-options ng-hide" ng-show="state.loadGLTF">
				<label>
					<a href="https://www.khronos.org/gltf" target="_blank">glTF Loader</a>
					<input type="text" ng-model="data.url" placeholder="gltf json url" class="ng-pristine ng-untouched ng-valid">
					<input type="text" ng-model="data.gltfname" placeholder="gltf file name" class="ng-pristine ng-untouched ng-valid">
					<button ng-click="loadglTF()">LOAD glTF</button>
					<button ng-click="loadSampleglTF()">SAMPLE glTF</button>
				</label>
			</div>
			<div id="js-loader" class="loader-options ng-hide" ng-show="state.loadJS">
				<label>
					<a href="https://github.com/mrdoob/three.js/wiki" target="_blank">JSON Loader</a>
					<input type="text" ng-model="data.jsurl" placeholder="JSON url" class="ng-pristine ng-untouched ng-valid">
					<input type="text" ng-model="data.jsname" placeholder="file name" class="ng-pristine ng-untouched ng-valid">
					<button ng-click="loadJSON()">LOAD JSON</button>
					<button ng-click="loadSampleJSON()">SAMPLE JSON</button>
				</label>
			</div>
		</div>
	</div>
</div>-->
