<div class="app">
  <div id="navigation" class="navbar navbar-app navbar-absolute-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><b>FinEXT</b></a>
      </div>

      <div class="navbar-right">

        <ul class="nav navbar-nav navbar-collapse collapse">
          <li class="active">
          </li>
        </ul>
        <button type="submit" ng-click="logout()" class="btn btn-large btn-primary navbar-btn">LOGOUT</button>

      </div>
    </div>
  </div>


  <br>
  <br>
  <div class="app-body">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="collapseZero">
          <h4 class="panel-title">
            Profile Information
          </h4>
        </div>
        <div id="collapseZero" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
          <div class="panel-body">
            <img ng-src="http://www.gravatar.com/avatar/{{ profile.md5_hash }}">
            Username: {{ profile.username }}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="collapseOne">
          <h4 class="panel-title">
            Models Created
          </h4>
        </div>
        <div id="collapseOne" toggleable active-class="in" exclusion-group="accordion1" default="active" class="panel-collapse collapse">
          <div class="panel-body">
            <h4>Finding all models created by you....</h4>

            <br>
            <br>

            <div class="row">
              <div class="col-md-8 col-xs-10">
                <div class="info">
                  <p ng-show="!modelsExist">No models created by you yet</p>
                  <table ng-show="modelsExist" class="table centered table-striped table-bordered table-hover table-condensed text-center col-xs-12 col-md-8 col-lg-6">
                    <thead>
                    <tr>
                      <td>List of Models</td>
                      <td>Calculated Results</td>
                      <td>Delete Model</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, model) in models">
                      <td><button type="submit" ng-click="loadModel(model)" class="btn btn-large btn-primary">Model {{ $index + 1}}</button></td>
                      <td><button type="submit" ng-click="loadResults(model)" class="btn btn-large btn-success">Results</button></td>
                      <td><button type="submit" ng-click="deleteModel(key, model)" class="btn btn-large btn-default">Delete</button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" toggle target="collapseTwo">
          <h4 class="panel-title">
            Context Settings
          </h4>
        </div>
        <div id="collapseTwo" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse">
          <div class="panel-body">
            Options to create Context here
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
